@media screen and (max-width: 1160px) {
  .swiper-button-prev {
    top: 0%;
    left: 72%;
  }

  .swiper-button-next {
    top: 0.7%;
    left: 78%;
  }
  .container {
    width: 95%;
  }
  .footerContainer {
    width: 95%;
  }
  header .container .logo a {
    margin-right: 0;
  }
  .portfolio .container .portfolioItems .portfolioIMG {
    width: 100%;
  }
  .portfolioItem {
    margin: 15px;
  }
  .team .container .teamCards .teamCard img {
    width: 100%;
  }
}
@media screen and (max-width: 1060px) {
  .cards .cardsContainer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .card {
      margin: 30px;
    }
  }
  footer .container {
    display: block;
    .logoBlock .logo {
      text-align: center;
      margin-right: 0;
      margin-bottom: 40px;
    }
    .linksBlock {
      width: 100%;
      margin-bottom: 50px;
    }
  }
  .footerContainer {
    text-align: center;
    .icons {
      margin-left: auto;
      margin-right: auto;
    }
  }
}
@media screen and (max-width: 980px) {
  main .container {
    flex-direction: column;
    align-items: center;
    .mainCircle {
      top: 38%;
    }
    .blueCircle {
      top: 350px;
      right: 75%;
    }
  }

  .brands .container .brandsBlock {
    flex-direction: column;
    align-items: center;
  }
  .brands .container .brand {
    margin: 25px;
  }
  .brands .container {
    padding-bottom: 75px;
  }
  .features .container {
    flex-wrap: wrap;
    justify-content: center;
    .featuresDescription {
      margin-bottom: 40px;
    }
  }
}
@media screen and (max-width: 935px) {
  .portfolio .container .portfolioItems {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 768px) {
  header .container .actions {
    display: none;
  }
  header .container .actions.open {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #000000;
  }
  header .container .actions.open a {
    color: white;
    margin: 15px;
  }
  #burger {
    display: block;
    font-size: 32px;
  }
}
@media screen and (max-width: 660px) {
  .team .container {
    text-align: center;
    .teamCards {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .teamCard {
        margin: 30px;
      }
    }
  }

  .features .container {
    text-align: center;

    .featuresDescription {
      .featuresTitle {
        max-width: 100%;
      }
      .featuresWords {
        max-width: 100%;
      }
    }
    .featuresItems {
      padding-right: 0;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  }
  footer .container .linksBlock {
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    .groupLinks {
      margin: 20px 50px;
    }
  }
  .comments .container {
    text-align: center;
  }
}

@media screen and (max-width: 620px) {
  main .container .blueCircle {
    top: 410px;
    left: 250px;
    z-index: -1;
  }
  main .container .mainCircle {
    width: 75%;
    top: 50%;
    left: 5%;
  }
  #scene img {
    width: 70%;
  }
  main .container .greenCircle {
    top: 10%;
    left: 85%;
  }
}
@media screen and (max-width: 550px) {
  main .container {
    text-align: center;
    h1 {
      font-size: 50px;
      text-align: center;
      .games::after {
        width: 128px;
        bottom: 0;
      }
    }
  }
  .portfolio .container .btn {
    margin-left: auto;
    margin-right: auto;
  }
  .slideBody {
    max-width: 300px;
  }
  .swiper-slide .titleContent {
    .smile {
      width: 50px;
    }
    .stars {
      width: 55px;
    }
  }
  .swiper-button-prev {
    top: 0%;
    left: 62%;
  }

  .swiper-button-next {
    top: 0.7%;
    left: 70%;
  }
}
@media screen and (max-width: 470px) {
  .pricing .container label span {
    margin: 0;
  }
  .pricing .container label span.monthly {
    margin-right: 55px;
  }
  .pricing .container label span.anually {
    margin-left: 55px;
  }
  .btn {
    margin-left: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 420px) {
  .swiper-slide .titleContent{
    flex-direction: column;

  }
  .swiper-slide .titleContent .nameAndPosition .name{
    text-align: center;
  }
  .swiper-button-prev {
    top: 0%;
    left: 52%;
  }

  .swiper-button-next {
    top: 0.4%;
    left: 65%;
  }
  .swiper-slide{
    text-align: center;
  }
}
@media screen and (max-width: 400px) {
  .swiper-slide {
    margin: 0px;
    padding: 0;
  }
  main .container .mainCircle {
    top: 65%;
  }
  main .container .yellowCircle{
    top: 50%;
    left: 50px;
  }
  #scene img{
    width: 50%;
  }
  main .container .redCircle{
    top: 80%;
    right: 88%;
  }
}

@media screen and (max-width: 360px) {
  .pricing .container label span {
    margin: 0;
  }
  .pricing .container label span.monthly {
    margin-right: 36px;
  }
  .pricing .container label span.anually {
    margin-left: 36px;
  }
  .pricing .container label::after {
    width: 70px;
    height: 38px;
    right: calc(50% - 35px);
  }
  .pricing .container label::before {
    height: 25px;
    width: 25px;
    top: -3px;
  }
  .slideBody{
    max-width: 250px;
  }
  .swiper-container{
    padding: 25px;
  }
 
}
